body{


    background-color:cyan;
    text-align: center;

}

hi{
    background-color: brown;
}
.brown{
    background-color: brown;
}

#gray{
    background-color: gray;
}
.font-gray{
    color: gray;
}
#font_gray{
    color: gray;
}